.content10 {
  min-height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/background_road.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cardinal {
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 600px; /* Largeur maximale pour la carte */
  width: 100%; /* Assurer la carte prend tout l'espace disponible jusqu'à la largeur maximale */
  box-sizing: border-box;
  padding: 0; /* Supprimer le padding par défaut */
}

.toptop {
  border-radius: 10px 10px 0px 0px;
  width: 100%; /* Remplit toute la largeur du dashboard */
  height: 50px;
  background-color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Permet de positionner le bouton retour en absolu */
  color: white;
  font-size: 20px;
}

.retour {
  position: absolute;
  left: 10px; /* Aligner le bouton retour à gauche */
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px; /* Taille de la police pour le bouton retour */
  color: white; /* Couleur du texte */
}

.retour:hover {
  color:bisque;
}

.retour img {
  margin-right: 8px; /* Espacement entre l'image et le texte */
}

.izy {
  padding: 0; /* Supprimer le padding par défaut */
  margin: 0; /* Supprimer la marge par défaut */
  width: 100%;
}

.tab-container {
  width: 100%;
  background-color: #f1f1f1;
  padding: 0; /* Supprimer le padding par défaut */
  margin: 0; /* Supprimer la marge par défaut */
}

.tab-buttons2 {
  display: flex;
  justify-content: space-around;
  background-color: #ccc;
}

.tab-buttons .tab-button.active,
.tab-buttons .tab-button:focus,
.tab-buttons .tab-button:active {
  background-color: var(--darkblue);
  color: white; /* Assurer que le texte est lisible sur le fond foncé */
  border-bottom: 2px solid #007bff;
}


/* .tab-button:hover {
  background-color: var(--darkblue);
  color: white;
  border-bottom: 2px solid #007bff;
} */


.tab-content {
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  box-sizing: border-box;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-option {
  gap: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.radio-option input[type="radio"] {
  margin-right: 5px;
}
