.content6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: max-content;
}

.cards-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: px;
}
